[Desktop Entry]
Name=Xftvim
GenericName=Text Editor
GenericName[de]=Texteditor
Comment=Edit text files
Comment[zh_CN]=编辑文本文件
Comment[zh_TW]=編輯文字檔
TryExec=xftvim
Exec=xftvim %F
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=gvim
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
